.footer {
  width: 100%;
  padding: 19px;

  background: $bg-color;
  font-size: $fs-secondary;
  color: $gray-color;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
	& span{
		display: block;
	}
}
