@import '../../node_modules/normalize.css/normalize.css';
@import './_variables';
@import './main.scss';
@import './brands.scss';
@import './swiper-3.scss';
@import './get-call.scss';
@import './footer.scss';
@import '../../node_modules/swiper/swiper-bundle.css';

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fs-family;
}
