@import './_variables';
@import './main.scss';
@import './brands.scss';
@import '../../node_modules/swiper/swiper-bundle.css';

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fs-family;
}
